<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ConvertDxf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ConvertDxf.Properties.Settings.SWPlusDBConnectionString"
            connectionString="Data Source=pdmsrv;Initial Catalog=SWPlusDB;User ID=airventscad;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <ConvertDxf.Properties.Settings>
            <setting name="BoomId" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="DBConnectionString" serializeAs="String">
                <value>Data Source=pdmsrv;Initial Catalog=SWPlusDB;Persist Security Info=True;User ID=AirVentsCad;Password=1</value>
            </setting>
            <setting name="SQLUser" serializeAs="String">
                <value>AirVentsCad</value>
            </setting>
            <setting name="SqlServerName" serializeAs="String">
                <value>pdmsrv</value>
            </setting>
            <setting name="DataBaseName" serializeAs="String">
                <value>SwPlusDB</value>
            </setting>
            <setting name="SQLPassword" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DxfPath" serializeAs="String">
                <value />
            </setting>
            <setting name="VaultName" serializeAs="String">
                <value>Vents-Pdm</value>
            </setting>
        </ConvertDxf.Properties.Settings>
    </userSettings>
</configuration>